body{
	font-family: Verdana, sans-serif;
	text-align: center;
	color: white;
	background-color: black;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 42px;
}

p{
	font-size: 21px;
	color: gray;
}


.download{
	color: #7fffd4;
	font-size: 16px;
}

.footer{
	text-align: right;
}